## Observations and Insights

In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results, how='outer', on = 'Mouse ID' )

# Display the data table for preview
combined_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [52]:
# Checking the number of mice.
miceid_count = combined_df["Mouse ID"].count()
miceid_count

1893

In [53]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mice_duplicate = combined_df[combined_df.duplicated(['Mouse ID', 'Timepoint'])]

In [54]:
# Optional: Get all the data for the duplicate mouse ID. 
print(mice_duplicate)

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
909     g989     Propriva  Female          21          26          0
911     g989     Propriva  Female          21          26          5
913     g989     Propriva  Female          21          26         10
915     g989     Propriva  Female          21          26         15
917     g989     Propriva  Female          21          26         20

     Tumor Volume (mm3)  Metastatic Sites
909           45.000000                 0
911           47.570392                 0
913           49.880528                 0
915           53.442020                 0
917           54.657650                 1

In [55]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
duplicate_drop = combined_df.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep = False)
duplicate_drop

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [56]:
# Checking the number of mice in the clean DataFrame.
new_count = duplicate_drop["Mouse ID"].count()
new_count

1883

## Summary Statistics

In [57]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.
count = duplicate_drop["Drug Regimen"].value_counts()
count

Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Stelasyn     181
Placebo      181
Ceftamin     178
Infubinol    178
Propriva     151
Name: Drug Regimen, dtype: int64

In [58]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function


summary = duplicate_drop.groupby(['Drug Regimen', 'Timepoint'])
mean = summary["Tumor Volume (mm3)"].mean()
dfmean = pd.DataFrame(mean)
dfmean

                        Tumor Volume (mm3)
Drug Regimen Timepoint
Capomulin    0                   45.000000
             5                   44.266086
             10                  43.084291
             15                  42.064317
             20                  40.716325
...                                    ...
Zoniferol    25                  55.432935
             30                  57.713531
             35                  60.089372
             40                  62.916692
             45                  65.960888

[100 rows x 1 columns]

In [59]:
median = summary["Tumor Volume (mm3)"].median()
dfmedian = pd.DataFrame(median)
dfmedian

                        Tumor Volume (mm3)
Drug Regimen Timepoint
Capomulin    0                   45.000000
             5                   45.597064
             10                  43.421014
             15                  42.798160
             20                  40.716428
...                                    ...
Zoniferol    25                  55.676604
             30                  57.419744
             35                  60.365832
             40                  62.274543
             45                  65.684689

[100 rows x 1 columns]

In [60]:
std_dev = summary["Tumor Volume (mm3)"].std()
dfstd_dev = pd.DataFrame(std_dev)
dfstd_dev

                        Tumor Volume (mm3)
Drug Regimen Timepoint
Capomulin    0                    0.000000
             5                    2.242964
             10                   3.513422
             15                   4.108369
             20                   4.362915
...                                    ...
Zoniferol    25                   2.410052
             30                   3.098552
             35                   3.297993
             40                   3.736102
             45                   3.755037

[100 rows x 1 columns]

In [61]:
sem = summary["Tumor Volume (mm3)"].sem()
dfsem = pd.DataFrame(sem)
dfsem

                        Tumor Volume (mm3)
Drug Regimen Timepoint
Capomulin    0                    0.000000
             5                    0.448593
             10                   0.702684
             15                   0.838617
             20                   0.909731
...                                    ...
Zoniferol    25                   0.602513
             30                   0.800043
             35                   0.881426
             40                   0.998515
             45                   1.003576

[100 rows x 1 columns]

## Bar and Pie Charts

In [62]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [63]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [64]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [65]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [66]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [67]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [68]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [69]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [70]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [71]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen